<h3 class="border-bottom py-3 px-4">My Wishlist</h3>
<div class="d-flex border-bottom py-3 px-4">
  <div class="me-4" style="max-width: 150px; height: auto">
    <img src="https://placehold.co/600x400" class="img-fluid" alt="" />
  </div>
  <div class="d-flex flex-column flex-grow-1">
    <h2 class="fs-4 text-secondary-emphasis fw-normal">
      {{ "Product Title" }}
    </h2>
    <p class="fs-6 text-secondary fw-lighter">{{ "Product Description" }}</p>
    <span class="fw-bolder text-secondary-emphasis"
      >Price: {{ "200 INR" }}</span
    >
  </div>
  <div class="d-flex align-items-end">
    <button class="btn btn-outline-danger btn-sm">
      <i class="bi bi-trash"></i>
    </button>
  </div>
</div>
