<footer >
  <div class="px-3 px-lg-5 pt-4 pb-5 m-150">
    <div class="row">
      <div class="col-md-4 col-lg d-none d-md-block">
        <h2 class="text-uppercase fw-semibold d-inline-block ps-3">Shop</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
      <div class="col-md-4 col-lg d-none d-md-block">
        <h2 class="text-uppercase fw-semibold d-inline-block ps-3">Shop</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
      <div class="col-md-4 col-lg d-none d-md-block">
        <h2 class="text-uppercase fw-semibold d-inline-block ps-3">Shop</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-5 mt-3 mt-lg-0 footer-block__newsletter">
        <h2
          class="text-uppercase fw-semibold d-inline-block footer-block__newsletter__heading"
        >
          Newsletter Sign Up
        </h2>
        <p class="mb-2 footer-block__newsletter__subheading">
          Sign up for exclusive updates, new arrivals & insider only discounts
        </p>
        <form>
          <div class="d-flex">
            <input
              type="text"
              class="form-control me-2"
              placeholder="enter your email address"
            />
            <button class="btn btn-success text-uppercase">Submit</button>
          </div>
        </form>
        <div class="mt-4">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item border border-0">
              <i class="bi bi-facebook"></i>
            </li>
            <li class="list-group-item border border-0">
              <i class="bi bi-instagram"></i>
            </li>
            <li class="list-group-item border border-0">
              <i class="bi bi-linkedin"></i>
            </li>
            <li class="list-group-item border border-0">
              <i class="bi bi-threads"></i>
            </li>
            <li class="list-group-item border border-0">
              <i class="bi bi-twitter-x"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column align-items-center w-100"
    style="background-color: #000; color: #fff"
  >
    <div>
      <hr class="border border-secondary" />
    </div>
    <div>&copy; 2024 GrowIt. All Rights Reserved.</div>
    <div>
      <a href="">Privacy Policy</a> | <a href="">Terms & Conditions</a> |
      <a href="">Accessibility</a> |
      <a href="">Do Not Sell My Personal Information</a>
    </div>
  </div>
</footer>
