<div class="mb-4">
  <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#bannerCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-label=""
      ></button>
      <button
        type="button"
        data-bs-target="#bannerCarousel"
        data-bs-slide-to="1"
        aria-label=""
      ></button>
      <button
        type="button"
        data-bs-target="#bannerCarousel"
        data-bs-slide-to="2"
        aria-label=""
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://placehold.co/1200x400/f0a07c/4a274f?text=Slide 1"
          class="d-block w-100"
          alt=""
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://placehold.co/1200x400/d6ed17/606060?text=Slide 2"
          class="d-block w-100"
          alt=""
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://placehold.co/1200x400/8c77b5/fff?text=Slide 3"
          class="d-block w-100"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="mb-4">
  <h3 class="text-center py-2">Best Sellers</h3>
  <div
    id="bestsellersCarousel"
    class="carousel slide px-4"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <div class="row">
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 1</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 2</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 3</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 4</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <div class="row">
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 1</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 2</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 3</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 4</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <div class="row">
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 5</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 6</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 7</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 8</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <div class="row">
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 9</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 10</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 11</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 12</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#bestsellersCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#bestsellersCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="mb-4">
  <h3 class="text-center py-2">New Arrivals</h3>
  <div class="carousel slide px-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <div class="row">
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 1</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 2</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 3</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 4</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <div class="row">
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 1</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 2</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 3</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 4</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <div class="row">
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 5</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 6</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 7</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 8</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <div class="row">
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 9</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg mb-3 mb-lg-0">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 10</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 11</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg">
            <div class="card">
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h6 class="card-subtitle mb-1">MRP: $200</h6>
                <h5 class="card-title mb-3">Best Seller Product Card 12</h5>
                <p class="card-text">Sold By: {{ "Dummy Seller" }}</p>
                <div class="d-grid">
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
