<h3 class="border-bottom py-3 px-4">Personal Information</h3>

<div class="container py-1">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="firstName" class="form-label">First name</label>
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            id="firstName"
            placeholder="First name"
          />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="lastName" class="form-label">Last name</label>
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            id="lastName"
            placeholder="Last name"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="mail" class="form-label">Email address</label>
          <input
            type="email"
            formControlName="mail"
            class="form-control"
            id="mail"
            placeholder="Email address"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone number</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="phoneNumber">+91</span>
            <input
              type="tel"
              formControlName="phoneNumber"
              class="form-control"
              id="phoneNumber"
              placeholder="Phone number"
              maxlength="10"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <br />
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="male"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="female"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-success">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
