<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <ol class="d-flex flex-column">
            <li class="mb-2">
              <img src="https://placehold.co/50" class="img-thumbnail" alt="" />
            </li>
            <li class="mb-2">
              <img src="https://placehold.co/50" class="img-thumbnail" alt="" />
            </li>
            <li class="mb-2">
              <img src="https://placehold.co/50" class="img-thumbnail" alt="" />
            </li>
            <li class="mb-2">
              <img src="https://placehold.co/50" class="img-thumbnail" alt="" />
            </li>
            <li>
              <img src="https://placehold.co/50" class="img-thumbnail" alt="" />
            </li>
          </ol>
        </div>
        <div class="col">
          <!-- <img src="https://placehold.co/250x350" class="img-fluid" alt="" /> -->
          <img
            [src]="'http://localhost:3000' + listing.images[0]"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="col">
      <h1>{{ listing.name }}</h1>
      <div class="d-flex flex-column">
        <p class="d-flex flex-column">
          <span class="d-block">${{ listing.price }}</span>
          <span class="d-block fs-4 fw-bolder">Buy 3 to get 20% discount</span>
        </p>
        <div class="d-flex align-items-center mb-4">
          <div>
            <span>Sold By: {{ listing.seller.storeName }} </span>
          </div>
          <div>
            <span class="mx-2"> | </span>
          </div>
          <div>
            <small
              >Status:
              <span style="color: #8bc500">{{
                listing.stock > 0 ? "In stock" : "Out of stock"
              }}</span>
            </small>
          </div>
        </div>
        <div>
          <p>
            {{ listing.description }}
          </p>
        </div>
        <hr />
        <div class="mb-4">
          <small>Quantity</small>
          <div>
            <div class="d-inline-flex border">
              <span class="me-2 p-2">-</span>
              <span class="me-2 p-2">{{ 1 }}</span>
              <span class="p-2">+</span>
            </div>
          </div>
        </div>

        <div class="d-flex">
          <button class="btn btn-primary text-uppercase fw-medium me-4">
            Add to Cart
          </button>
          <button class="btn btn-success text-uppercase fw-medium">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
