.actionButtonContainer {
  cursor: pointer;
  transition: background-color 0.5s ease-out;

  .actionButton {
    transition: transform 0.2s ease-out;
  }

  &:hover {
    background-color: #dcdcdc;

    .actionButton {
      transform: rotate(-90deg);
    }
  }
}

.edit-listing {
  color: rgb(0, 102, 204);
  cursor: pointer;
}

.delete-listing {
  &:hover {
    color: #ff4136;
  }
}
