<div class="container">
  <div class="row">
    <div class="col-auto me-4">
      <div class="row shadow-sm py-2 rounded mb-3">
        <div class="col-auto">
          <img
            src="https://placehold.co/50"
            class="img-fluid rounded-circle"
            alt="..."
          />
        </div>
        <div class="col">
          <div class="text-secondary">Hello,</div>
          <div class="text-secondary-emphasis">{{ firstName }}</div>
        </div>
      </div>

      <div class="row shadow-sm py-2 rounded">
        <div class="col">
          <div>
            <div
              class="fw-semibold text-uppercase py-2 px-3 text-secondary-emphasis"
            >
              My Orders
            </div>
            <div
              class="fw-semibold text-uppercase py-2 px-3 text-secondary-emphasis"
            >
              Account Settings
            </div>
            <div class="py-2 px-3 text-secondary accountSettingLinks" [routerLink]="['./profile']">
              <span>
                <i class="bi bi-person"></i>
              </span>
              <span> Profile Information </span>
            </div>
            <div
              class="py-2 px-3 text-secondary accountSettingLinks"
              [routerLink]="['./addresses']"
            >
              <span>
                <i class="bi bi-geo-alt"></i>
              </span>
              <span> Addresses </span>
            </div>
            <div
              class="py-2 px-3 text-secondary accountSettingLinks"
              [routerLink]="['./wishlist']"
            >
              <span>
                <i class="bi bi-heart"></i>
              </span>
              <span> Wishlist </span>
            </div>
            <div class="py-2 px-3 text-secondary accountSettingLinks">
              <span>
                <i class="bi bi-power"></i>
              </span>
              <span> Logout </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md px-0 shadow-sm rounded">
      <router-outlet />
    </div>
  </div>
</div>
