<h1 class="text-uppercase mb-4">About Us</h1>
<div
  class="d-flex justify-content-center align-items-center bg-info bg-gradient rounded-5 mb-4"
  style="height: 300px"
>
  <h2 class="fw-bold text-white text-center" style="font-size: 10rem">
    GrowIt
  </h2>
</div>
<p class="text-center">
  Duis eu ullamcorper nibh, vel mollis dui. Ut ut laoreet erat, eget euismod
  ipsum. Nunc id mi dui. Phasellus varius leo non elit semper placerat. Sed
  suscipit, ligula ac euismod lobortis, enim enim dapibus sem, non cursus tortor
  purus eu velit. Etiam in mattis massa. Nunc consectetur, nulla eget vestibulum
  pellentesque, tortor purus ultrices quam, vel malesuada lorem tellus in elit.
  Donec at felis vestibulum, ultrices sem a, aliquet tellus. Fusce eleifend
  mauris a facilisis pulvinar. Nulla fermentum a mi in efficitur. Suspendisse
  potenti. Proin pretium mollis tristique. Aliquam urna.
</p>
<div>
  <img
    src="https://placehold.co/600x400"
    class="img-fluid w-100"
    alt=""
    style="max-height: 400px"
  />
</div>
<p class="text-bg-primary fs-2 text-center p-5">
  Duis eu ullamcorper nibh, vel mollis dui. Ut ut laoreet erat, eget euismod
  ipsum. Nunc id mi dui. Phasellus varius leo non elit semper placerat. Sed
  suscipit, ligula ac euismod lobortis, enim enim dapibus sem, non cursus tortor
  purus eu velit.
</p>

<div id="investorsCarousel" class="carousel slide" data-bs-ride="carousel">
  <!-- <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#investorsCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-label=""
    ></button>
    <button
      type="button"
      data-bs-target="#investorsCarousel"
      data-bs-slide-to="1"
      class="active"
      aria-label=""
    ></button>
    <button
      type="button"
      data-bs-target="#investorsCarousel"
      data-bs-slide-to="2"
      class="active"
      aria-label=""
    ></button>
  </div> -->
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <div class="row">
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+1" class="d-block w-100" alt="" />
        </div>
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+1" class="d-block w-100" alt="" />
        </div>
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+1" class="d-block w-100" alt="" />
        </div>
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+1" class="d-block w-100" alt="" />
        </div>
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+1" class="d-block w-100" alt="" />
        </div>
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+1" class="d-block w-100" alt="" />
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+2" class="d-block w-100" alt="" />
        </div>
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+2" class="d-block w-100" alt="" />
        </div>
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+2" class="d-block w-100" alt="" />
        </div>
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+2" class="d-block w-100" alt="" />
        </div>
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+2" class="d-block w-100" alt="" />
        </div>
        <div class="col">
          <img src="https://placehold.co/400?text=Slide+2" class="d-block w-100" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
